<! DOCTYPE HTML>
<html>
  <head>
    <title>  Home  </title>
  </head>
  <body>
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <center>
      <h3> {{message}} </h3>
    </center>
    {% endfor %}

    This is the home page
    <form action = '/readstory'>
      <input type="submit" value="Read Story"> <br> <br>
      <div style="color:#FF5733">
      </div>
    </form>
    <form action = '/editstory'>
      <input type="submit" value="Edit Story"> <br> <br>
      <div style="color:#FF5733">
      </div>
    </form>
    <form action = '/createstory'>
      <input type="submit" value="Create Story"> <br> <br>
      <div style="color:#FF5733">
      </div>
    </form>

    Stories you have added to: <br>
    {{storiesAddedTo}}
    <br><br>
    <form action = 'loggedout'>
      <input type="submit" value="Log Out"><br><br>
    </form>
  </body>
</html>
